# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.ipynb_checkpoints/
*.spec
dist/

# Project artifacts
logs/
pipelines/
data/
calmops/pipelines/
calmops/data/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Gemini specific files
GEMINI.md
.gemini/